@import 'src/styles/theme/index.scss';

.search {
  width: 238px;

  & button {
    position: absolute;
    top: 0;
    width: 46px;
    left: -40px;
    color: $components-white;
    background-color: $components-courses-process-purple;
    z-index: 1;
  }

  & :where(.css-dev-only-do-not-override-ph9edi).ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
    color: $components-white;
  }

  & .ant-input-search :where(.css-dev-only-do-not-override-ph9edi).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
  }

  & :where(.css-dev-only-do-not-override-ph9edi).ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
    border-bottom-left-radius: 21px;
  }
}