@import 'src/styles/theme/index.scss';

.education-btn-block {
  width: 250px;

  &:where(.css-dev-only-do-not-override-ph9edi).ant-switch.ant-switch-checked {
    background: $components-courses-process-purple;
  }

  &:where(.css-dev-only-do-not-override-ph9edi).ant-menu-dark .ant-menu-item-selected {
    background-color: $components-courses-process-purple;
  }

  &:where(.css-dev-only-do-not-override-ph9edi).ant-menu-light .ant-menu-item-selected {
    background-color: $components-courses-process-purple;
    color: $components-white;
  }
}