.database-table {
  padding: 10px;

  &__btn-block {
    &
      :where(
        .css-dev-only-do-not-override-ph9edi
      ).ant-radio-button-wrapper:first-child {
      border: none;
    }
    &
      :where(
        .css-dev-only-do-not-override-ph9edi
      ).ant-radio-button-wrapper:last-child {
      border: none;
    }
    &
      :where(
        .css-dev-only-do-not-override-ph9edi
      ).ant-radio-button-wrapper-checked:not(
        .ant-radio-button-wrapper-disabled
      )::before {
      background-color: transparent;
      border: none;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 40px;

    &__item {
      font-size: 14.0024px;
      line-height: 17px;
      &__id {
        margin-left: 40px;
      }
    }
  }

  &__item {
    &__content {
      padding-left: 10px;
      padding-right: 10px;

      &__description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        // padding-left: 10px;
        padding-right: 20px;
      }
    }
  }

  & :where(.css-dev-only-do-not-override-ph9edi).ant-list-lg .ant-list-item {
    padding: 0;
  }

  &
    :where(.css-dev-only-do-not-override-ph9edi).ant-list-vertical
    .ant-list-item
    .ant-list-item-meta {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  &
    :where(.css-dev-only-do-not-override-ph9edi).ant-list
    .ant-list-item
    .ant-list-item-meta {
    align-items: center;
  }
}
