$components-courses-btn-gray-btn: #9da6ba;

.courses-card {
  border-radius: 15px;

  &__header {
    display: flex;
    justify-content: space-between;

    &__img {
      width: 42px;
      height: 42px;
    }

    &__btn {
      color: $components-courses-btn-gray-btn;
    }
  }

  &__title {
    line-height: 17px;
    font-size: 14px;
  }

  &__avatar-block {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 23px;
      height: 23px;
    }

    &__name {
      height: 12px;
      font-size: 10px;
      color: $components-courses-btn-gray-btn;
    }
  }

  &__learning-block {
    &__lessons {
      display: flex;
      flex-direction: row;
      gap: 10px;

      &__count,
      &__last {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        font-size: 10px;
        line-height: 12px;
        color: $components-courses-btn-gray-btn;

        & img {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  & .ant-card-body {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
}
