@import 'src/styles/theme/index.scss';

.client-layout {
  background-color: $main-layout-background-color;

  &-menu {
    min-height: 100vh;
    height: 100%;
  }

  &-wrapper {

    .header {
      padding: 0;
      margin: 20px;
      background-color: $components-background-color;
    }

    .content {
      margin: 20px;
    }
  }
}
