@import 'src/styles/theme/index.scss';

.client-layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  &-menu {
    height: 100%;
  }

  &-wrapper {
    .header {
      padding: 0;
      margin: 20px;
      background-color: $components-background-color;
    }

    .content {
      margin: 20px;
    }
  }
}