.dashboard-card {
  width: 167px;
  height: 191px;
  background-color: #e7e6fb;

  &__img {
    width: 57px;
    height: 60px;
  }

  &__title {
    font-size: 16px;
  }

  &__count {
    font-weight: 600;
    font-size: 20px;
  }

  & .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
