/* variables for colors, fonts etc. */
$main-layout-background-color: #fafafa;
$components-background-color: #ffffff;
$components-courses-btn-green-btn: #4dc591;
$components-courses-btn-gray-btn: #9da6ba;
$components-white: #ffffff;
$components-courses-process-purple: #5b68ff;
$components-courses-in-process-purple: #cdd3ff;
